.element--global__home__shelf :global(.vtex-button) {
    background-color: #FFFFFF;
    width           : 164px;
    height          : 37px;
    padding         : 7.74px;
    border-radius   : 30.97px;
    border          : 0.77px solid #1D2734;
    margin          : auto;
}

.container {
    width           : 175px;
    height          : 310px;
    background-color: #FFFFFF;
    border-radius   : 6px;
    gap             : 9.29px;
    box-shadow      : 0px 2px 8px 0px #00000014;
}

.description {
    margin            : auto;
    font-family       : Monserrat;
    font-size         : 11px;
    font-weight       : 400;
    line-height       : 13px;
    text-align        : left;
    width             : 164.13px;
    height            : 39.48px;
    color             : #1D273499;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp        : 3;
    -webkit-box-orient: vertical;
}

.priceContainer {
    width  : 100px;
    padding: 0px;
    margin : 0px 0px 1px 20px;

}

.sellingPrice {
    font-family: Monserrat;
    font-size  : 19px;
    font-weight: 700;
    line-height: 22px;
    text-align : left;
    color      : #1D2734
}

.listPriceValue {
    font-family: Monserrat;
    font-size  : 11px;
    font-weight: 400;
    line-height: 13px;
    text-align : left;
    color      : #1D273466;
}

@media screen and (max-width: 1150px) {
    .element--global__home__shelf :global(.vtex-button) {
        width: 144px;
    }
    .description{
        width: 144px;
    }

}

/*

}
width: 29px;
height: 94px;
.vtex-product-summary-2-x-priceContainer
vtex-store-components-3-x-sellingPrice vtex-store-components-3-x-sellingPriceValue vtex-product-summary-2-x-sellingPrice dib ph2 t-body t-heading-5-ns vtex-product-summary-2-x-price_sellingPrice