.wishlistIconContainer :global(.vtex-button) {
    width           : 40px;
    border-radius   : 15px;
    border          : none;
    background-color: #1D27341A;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.wishlistIconContainer {
    display        : flex;
    flex-direction : row;
    justify-content: flex-end;
    align-items    : center;
}

.wishlistIconContainer :global(.vtex-button__label) {
    padding      : 0px;
    padding-right: 2px;
}

.iconSize {
    display: inline-block;
    width  : 15.5px;
    height : 15.5px;
}

.outline {
    background         : url(/arquivos/corazon.svg) !important;
    background-repeat  : no-repeat !important;
    background-position: center !important;
    background-size    : cover;
}