@media screen and (max-width: 600px) {
    .imageElement--global__info-card--promo {
        transform    : scale(0.75);
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 1150px) {
    .imageElement {
        transform: scale(0.9);
    }
}
