.flexCol--global__info-card {
    background-color: white;
    box-shadow      : 0px 2px 8px 0px #00000014;
    width           : 324px;
    height          : 336px;
    border-radius   : 12px;
}


/*
vtex-flex-layout-0-x-flexCol vtex-flex-layout-0-x-flexCol--global__info-card  ml0 mr0 pl0 pr0      flex flex-column h-100 w-100