/* Bold Medium Regular Light*/

@font-face {
    font-family: 'Monserrat';
    font-style : bold;
    src        : url(/assets/fonts/Monserrat/Montserrat-VariableFont_wght.ttf),
        format('ttf'),
        local('Monserrat')
}

@font-face {
    font-family: 'Monserrat';
    font-style : medium;
    src        : url(/assets/fonts/Monserrat/Montserrat-VariableFont_wght.ttf),
        format('ttf'),
        local('Monserrat')
}

@font-face {
    font-family: 'Monserrat';
    font-style : light;
    src        : url(/assets/fonts/Monserrat/Montserrat-VariableFont_wght.ttf),
        format('ttf'),
        local('Monserrat')
}